@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap');

$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/brands';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/regular';

body {
  font-family: 'Inter', sans-serif;
}

.search {
  width: 250px;
}

.sidebar {
  width: 220px;
  &-navigation {
    font-size: 14px;
  }
}
