body {
  font-family: 'Inter', sans-serif;
}

input {
  outline: 0;
}

button {
  @apply transition;
  @apply duration-200;
  @apply ease-in-out;
}

.notes {
  min-width: 250px;
}

.sidebar {
  min-width: 220px;
  &-navigation {
    font-size: 14px;

    .sidebar-item {
      @apply flex;
      @apply items-center;
      @apply py-1;
      @apply text-gray-600;
      @apply font-medium;
      @apply transition;
      @apply duration-200;
      @apply ease-in-out;

      &:hover {
        @apply text-gray-700;
      }

      &.active {
        @apply text-gray-800;
      }
    }
  }
}

.categories {
  @apply mt-8;

  &-heading {
    position: relative;
    @apply mb-4;

    h5 {
      @apply text-gray-500;
      @apply uppercase;
      @apply tracking-wide;
      @apply font-bold;
      @apply text-sm;
      @apply flex;
      @apply opacity-75;
    }

    a {
      @apply ml-auto;
      @apply transition;
      @apply duration-200;
      @apply ease-in-out;

      &:hover {
        @apply text-gray-700;
      }
    }
  }
}

.notes {
  &-list {
    height: calc(100vh - 120px);
    overflow: hidden scroll;
    scrollbar-color: #bebebe #f1f1f1;
    scrollbar-width: thin;

    &::-webkit-scrollbar {
      width: 6px;
      &-track {
        background: #f1f1f1;
      }
      &-thumb {
        background: #bebebe;
        border-radius: 10px;

        &:hover {
          background: #a8a8a8;
        }
      }
    }

    .note {
      min-height: 80px;
      display: flex;
      flex-direction: column;
      @apply p-4;
      @apply text-gray-600;
      @apply transition;
      @apply duration-200;
      @apply ease-in-out;
      @apply border-t;
      @apply border-b;
      @apply border-transparent;
      outline: 0;

      &.active {
        @apply bg-gray-300;
        @apply border-t;
        @apply border-b;
        @apply border-gray-400;
        @apply text-black;

        &:hover {
          @apply bg-gray-400;
          @apply bg-opacity-75;
        }
      }

      &:hover:not(.active) {
        @apply bg-gray-200;
        @apply text-gray-800;
      }
    }
  }

  .new-note-btn {
    @apply bg-green-500;
    @apply text-white;
    @apply font-light;
    @apply py-2;
    @apply px-4;
    @apply mx-4;
    @apply rounded;
    @apply text-sm;

    &:hover {
      @apply bg-green-600;
    }
  }
}

.btn {
  @apply py-2;
  @apply px-4;
  @apply rounded;

  &-sm {
    @apply py-1;
    @apply px-3;
    @apply text-xs;
  }

  &-green {
    @apply bg-green-500;
    @apply text-white;
    
    &:hover {
      @apply bg-green-600;
    }
  }
}

.tags {
  .tag {
    margin-right: 5px;

    @apply text-xs;
    @apply bg-white;
    @apply shadow-sm;
    @apply font-medium;
    @apply py-1;
    @apply px-2;
    @apply rounded-full;
    @apply align-middle;
    @apply transition;
    @apply duration-200;
    @apply ease-in-out;

    .close {
      margin-left: 5px;
      @apply text-gray-500;
    }

    &:last-of-type {
      margin-right: 0;
    }

    &:hover {
      @apply shadow-lg;
      @apply text-blue-800;

      .close {
        margin-left: 5px;
        @apply text-blue-600;
      }
    }

    &::before {
      content: '#';
    }
  }
}

.editor {
  &-title {
    display: inline-block;
    font-weight: bold;
    font-size: 20px;
    margin: 20px 0 10px 0;
  }

  &-list {
    padding-left: 10px;
    font-size: 20px;
    line-height: 10px;
  }

  &-hr {
    display: block;
    text-align: center;
    border-bottom: 2px solid #ddd;
  }

  &-blockquote {
    display: inline-block;
    border-left: 2px solid #ddd;
    padding-left: 10px;
    color: #aaa;
    font-style: italic;
  }

  &-code {
    font-family: monospace;
    background-color: #eee;
    padding: 3px;
  }

  .tray {
    display: flex;
    .status-text {
      @apply text-green-500;
      @apply text-xs;
    }

    .action-buttons {
      display: flex;
      flex-direction: row-reverse;
      button {
        margin-right: 10px;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}

.ck-editor__editable {
  min-height: 350px !important;
  ul {
    list-style-type: disc;
    padding-left: 20px;
  }
  ol {
    list-style-type: decimal;
    padding-left: 20px;
  }
}

.tags-container {
  .tag {
    &:hover {
      @apply shadow-none;
    }
  }
  input {
    width: 70%;
  }
}

.saving {
	-webkit-animation: fade-in 1s cubic-bezier(0.165, 0.840, 0.440, 1.000) both;
  animation: fade-in 1s cubic-bezier(0.165, 0.840, 0.440, 1.000) both;
  &::after {
    content: 'Saving...';
  }
}

.saved {
	-webkit-animation: fade-out 2s cubic-bezier(0.755, 0.050, 0.855, 0.060) both;
  animation: fade-out 2s cubic-bezier(0.755, 0.050, 0.855, 0.060) both;
  &::after {
    content: 'Saved!';
  }
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

 @-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
