@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap');

$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/brands';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/regular';

body {
  font-family: 'Inter', sans-serif;
}

.notes {
  width: 250px;
}

.sidebar {
  width: 220px;
  &-navigation {
    font-size: 14px;

    a {
      @apply flex;
      @apply items-center;
      @apply py-1;
      @apply text-gray-600;
      @apply font-medium;
      @apply transition;
      @apply duration-200;
      @apply ease-in-out;

      &:hover {
        @apply text-gray-800;
      }
    }
  }
}

.notes {
  &-list {
    .note {
      min-height: 80px;
      display: flex;
      flex-direction: column;
      @apply p-4;
      @apply text-gray-600;
      @apply transition;
      @apply duration-200;
      @apply ease-in-out;

      &.active {
        @apply bg-gray-300;
        @apply border-t;
        @apply border-b;
        @apply border-gray-400;
        @apply text-black;

        &:hover {
          @apply bg-gray-400;
          @apply bg-opacity-75;
        }
      }

      &:hover:not(.active) {
        @apply bg-gray-200;
        @apply text-gray-800;
      }
    }
  }
}

.tags {
  .tag {
    margin-right: 5px;

    @apply text-xs;
    @apply bg-white;
    @apply shadow-sm;
    @apply font-medium;
    @apply py-1;
    @apply px-2;
    @apply rounded-full;
    @apply align-middle;
    @apply transition;
    @apply duration-200;
    @apply ease-in-out;

    &:last-of-type {
      margin-right: 0;
    }

    &:hover {
      @apply shadow-lg;
      @apply text-blue-800;
    }

    &::before {
      content: '#';
    }
  }
}
